.center {
    margin-left: auto;
    margin-right: auto;
}
table {
    background-color: gray;
    color: black;
    opacity: .93;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 60%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;
}

th {
    padding: 10px;
    font-size: 28px;
    text-align: left;
}
tr{
    text-align:left;
    padding: 10px;
    font-size: 20px
}
td { 
    text-align:left;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 20px;
}
body {
    background-image: url("https://images.pexels.com/photos/3391930/pexels-photo-3391930.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

h2 {
    color: white;
}